/.agent
/.antigravitycli
/.env
/.gemini
__pycache__/
*.pyc
/results/
/test_output_270m/
# Obsidian
.obsidian/
.trash/
/.agents
skills-lock.json
/scratch/
/copilot/
/gemini-scribe/



# Ignore Smart Environment folder
.smart-env